<div class="container-fluid">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/publisher" routerLinkActive="active" ariaCurrentWhenActive="page">Publisher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/subcriber" routerLinkActive="active" ariaCurrentWhenActive="page">Subcriber</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>